#contact{
    background-color: #1f2235;  
    padding-top: 5rem;
    padding-bottom: 5rem;
}


.contact-container{
    padding-top: 5rem;
    padding-bottom: 5rem;
}



.adress i{
    color: #ff4a57;
    font-size: 1.6rem;

}

.adress  .adresscontent{
    margin-left: 20px;
    font-size: 1.1rem;
}

.adress .adresscontent span{
    font-weight: bold;
}

.adress .adresscontent p{
    padding: 0;
    margin: 0;
}


.adress{   
    display: flex;
    padding:25px;
   background-color: #24263b;
}

.message-area, .text-area, .yourFirstName, .yourMail, .yourPhone{
    width: 100%;
    background-color: #24263b;
    margin-bottom: 20px;
    padding:  20px 35px;
    border-radius: 8px;
    color: #fff;
    outline: none;  
    border: 5px solid transparent; 
}

.message-area:focus, .text-area:focus, .yourFirstName:focus, .yourMail:focus, .yourPhone:focus{
    border: 5px solid #ff4a57;
 
  
    
}

::placeholder{
    color: #fff;
    opacity: 1;
}

.submitBtn{
    display: inline-block;
    cursor: pointer;
    border: none;
    background-color: #ff4a57;
    color: #fff;
    padding: 16px  40px;
    border-radius:  30px;
    font-weight: bold;
    transition: .7s ease ;
    font-size: 1rem;

}

.submitBtn:hover{
    color: #ff4a57;
    background-color: #fff;
    outline: none;
}






